<div class='card col-6 m-3'>
  <h4 class='card-header'>
    機器人回覆
  </h4>
  <div class='card-body'>
    <textarea class='col-12' rows="5" style="background-color: rgba(0,0,0,.03);font-size: 1.25rem;" readonly>{{this.response}}</textarea>
  </div>
  <div class='modal-footer'>
    <button
      type='button'
      class='btn btn-primary'
      data-bs-toggle='modal'
      data-bs-target='#editBotResModal'
    >編輯</button>
  </div>
</div>

<div
  class='modal fade'
  id='editBotResModal'
  tabindex='-1'
  aria-labelledby='editBotResModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form
        action={{#ifCond role 'admin'}}'/admin/stories/response/{{userId}}/{{storyName}}/{{this.action}}?_method=PUT'
        {{else}}'/stories/response/{{userId}}/{{storyName}}/{{this.action}}?_method=PUT'
        {{/ifCond}}
        method='post'
      >
        <div class='modal-header'>
          <h5 class='modal-title' id='editBotResModalLabel'>編輯機器人回覆</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <label for='botRes' class='col-form-label'>回覆內容:</label>
          <textarea class='form-control content' id='botRes' name='botRes' rows="5" style="font-size: 1.25rem;">{{this.response}}</textarea>
          <input
            type='text'
            class='form-control'
            id='oriBotRes'
            name='oriBotRes'
            value='{{this.response}}'
            style='display: none;'
          />
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>取消</button>
          <button type='submit' class='btn btn-primary'>儲存</button>
        </div>
      </form>
    </div>
  </div>
</div>