<h1>故事流程</h1>
<div class='pt-3'>
  <a href='/stories/create'>
    <button type='button' class='btn btn-success'>新增故事流程</button>
  </a>
</div>
<hr />
<div class='row mt-3'>
  {{#each stories}}
    <div class='col-md-4'>
      <div class='card mb-4 shadow-sm text-center'>
        <div class='card-body'>
          <h5 class='card-title'>{{this.story}}</h5>
        </div>
        <div class='card-footer'>
          <a href='/stories/{{this.story}}' class='btn btn-primary'>查看</a>
          {{#ifNot this.story '問候語'}}
            <button
              type='button'
              class='btn btn-danger'
              id='deleteStoryBtn'
              data-bs-toggle='modal'
              data-bs-target='#deleteStoryModal'
              data-story='{{this.story}}'
            >
              刪除
            </button>
          {{/ifNot}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<div
  class='modal fade'
  id='deleteStoryModal'
  tabindex='-1'
  aria-labelledby='deleteStoryModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form action='/stories/{{storyName}}?_method=delete' id='deleteForm' method='post'>
        <div class='modal-header'>
          <h5 class='modal-title' id='deleteStoryModalLabel'>刪除故事</h5>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <p>確定要刪除『<strong id='deleteText'>{{storyName}}</strong>』故事嗎?</p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>取消</button>
          <button type='submit' class='btn btn-primary'>確認</button>
        </div>
      </form>
    </div>
  </div>
</div>